.main-page{
  width: 100vw;
  height: 100vh;
  background-color: #EBE3DF;

}
.welcome-user-box{
  width:55%;
  margin: 0 auto 0 auto;

}
.welcome-user{
  padding:10px 5px 20px 5px;
}
.you-are-assigned{
  padding:10px 5px 20px 5px;
}

.sites-assigned{
  
}
