// .ham-menu{
// width:90%;
// height: 80px;
// margin: 0 auto 0 auto;
// background-image: url("../assets/img/andrew_button3.png");
// background-repeat: no-repeat;
// background-size: cover;
// border-style: none;
//
// }
.title-dir{
  text-align: center;
  width: 58%;
  padding-top: 20px;
  margin: 0 auto 0 auto;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px #55CCD9 solid;
}

.nav-bar{
  position: fixed;
  float: left;
  z-index: 2;
  background-color: #EBE3DF;
    border-right: solid 1px #55CCD9;
    border-bottom: solid 1px #55CCD9;
}

.nav-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 8vh 3vw 2vh 2vw;
  // margin-top: 10vh;


}

.general-list{
  padding: 10px 10px 15px 10px;
}
#last-item{
  padding-bottom: 60px
}

#home-link{
  font-weight: 600;
}
