

.main-box-shifts{
  margin: 0 auto 0 auto;
    width: 70%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  overflow: scroll; 
}

.schedule-hours{
  width: 100%;
  font-size: 1.5rem;
}
.schedule-shift-box{
  width: 40%;
}
.shift-contract-day{
  width: 70%;
  font-size: 2.5rem;
  color: #098491;
  border-bottom: 1px solid #4C5657;
  margin-right: 5px;
}
.post-employee-shifts{
  width: 20%;
  position: absolute;
  top: 5vh;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
// .checkbox{
//   transform: scale(2,2);
// }
input[type="checkbox"]{
  transform:scale(2,2);
}
