
.schedule-box{
  margin: 15px auto 0 auto;
  width: 70%;
}
.schedule-search{
  width: 40%;
  float: right;
  padding: 10px 0 10px 0;
  margin: 50px 40px 0 0;
  font-size: 1.3rem;
}
.schedule-results-box{
  width: 100%;
  height: 65vh;
  padding-top: 40px;
  overflow: scroll;
}
.schedule-results-actual{
  margin: 0 auto 40px auto;
  width: 80%;
  height: 15vh;
  font-size: 1.5rem;
}
