.signin-box{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #EBE3DF
}
.signin-title{
  text-align: center;
  font-size: 4rem;
  padding: 12vh 0 5vh 0;
  font-weight: 600;
}
.signin-description{
  text-align: center;;
  font-size: 2rem;
  padding: 10px 0 10vh 10px;
}
.login-total{
  margin: 0 auto 0 auto;
  // transition: all linear 1s;
  height: 25vh;
}
.ng-hide{
  height: 0px;
  // transition-timing-function: linear;
  // transition-duration: 2s
}
.login-description{
  padding: 0 0 0 20px;
  font-size: 1.5rem;
}
.login-form{
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.login-input{
  width: 50vw;
  margin: 20px auto 20px auto;
  font-size: 1rem;
  padding: 10px 0 10px 0;
}
.login-button{
  padding: 5vh 15vw 5vh 15vw;
  margin: 20px auto 0 auto;
  background-color:#C1D4D6;
  font-size: 1.5rem;
  font-weight: bold;
}
 .signin-button{

  //  margin: 25px auto 20px auto;
   padding: 20px 5px 20px 5px;
   font-size: .9rem;
 }
