<div class="site-box">
<title-directive></title-directive>
<menu-directive></menu-directive>

<div class="site-day-box">
  <div class="site-day roboto-text day hvr-grow" ng-click="createhours('Sunday')">Sunday</div>
  <div class="site-day roboto-text day hvr-grow" ng-click="createhours('Monday')">Monday</div>
  <div class="site-day roboto-text day hvr-grow" ng-click="createhours('Tuesday')">Tuesday</div>
  <div class="site-day roboto-text day hvr-grow" ng-click="createhours('Wednesday')">Wednesday</div>
  <div class="site-day roboto-text day hvr-grow" ng-click="createhours('Thursday')">Thursday</div>
  <div class="site-day roboto-text day hvr-grow" ng-click="createhours('Friday')">Friday</div>
  <div class="site-day roboto-text day hvr-grow" ng-click="createhours('Saturday')">Saturday</div>

</div>
</div>
