<h3 class='site-title'>Create Employee</h3>

<menu-directive></menu-directive>

<div class="site-input">

    <div class="site-name">First Name</div>
    <input class='site-inputs' type="text" ng-model='employee.first_name' placeholder="">

    <div class="site-name">Last Name</div>
    <input class='site-inputs' type="text" ng-model='employee.last_name' placeholder="">

    <div class="site-name">Admin</div>
    <select class="site-inputs" name="Admin" ng-model='employee.admin'>
    <option value=true>Yes</option>
    <option value=false>No</option>
    </select>

    <div class="site-name">Email</div>
    <input class"site-inputs" type="text" ng-model="employee.email">

    <div class="site-name">Password</div>
    <input class"site-inputs last-site" type="text" ng-model="employee.password" value="">

<div class='site-button site-cancel' ng-click='cancel()'>
    Cancel
</div>
<div class='site-button site-submit' ng-click='createEmployee(employee)'>
    Submit
</div>
</div>
