<div class="site-box create-site">
    <ui-view></ui-view>
<title-directive></title-directive>
    <menu-directive></menu-directive>
<div class="site-input">
    <div class="site-name roboto-text">Name</div>
    <input class='site-inputs' type="text" ng-model='site.name'>
    <div class="site-name roboto-text">Street</div>
    <input class='site-inputs' type="text" ng-model='site.address_street'>
    <div class="site-name roboto-text">City</div>
    <input class='site-inputs' type="text" ng-model='site.address_city'>
    <div class="site-name roboto-text">State</div>
    <input class='site-inputs' type="text" ng-model='site.address_state'>
    <div class="site-name roboto-text">Site Info</div>
    <input class='site-inputs' type="text" ng-model='site.site_info'>
    <div class="site-name roboto-text">Contract Begin</div>
    <input class='site-inputs' type="text" ng-model='site.contract_begin'>
    <div class="site-name roboto-text">Contract End</div>
    <input class='site-inputs last-site' type="text" ng-model='site.contract_end'>
    <div class="next-button-box">

        <div class='site-button next-button site-submit' ng-click='next(site)'>Next</div>
    <div class='site-button next-button site-cancel' ng-click='cancel()'>Cancel</div>

    </div>
  </div>
  </div>
