<div class="site-box">
<title-directive></title-directive>
<menu-directive></menu-directive>
<div class="shift-box">
<div class="shift-hours" >
  <h3 class="shift-title roboto-text" ng-click='pickShift(1)'>First Shift</h3>

<div class="show-shifts" ng-show="showshifts1">
  <div class="shift-begin roboto-text">Shift Begin</div>
    <div class="shift-begin roboto-text">Shift End</div>
    <div class="shift-layout">
<div uib-timepicker class="shift-time" ng-model="shift.firstshift_begin")  show-spinners=false hour-step="hstep" minute-step="mstep" mousewheel=false show-meridian=false></div>
<div uib-timepicker class="shift-time" ng-model="shift.firstshift_end"  show-spinners=false hour-step=1 minute-step=15 mousewheel=false show-meridian=false></div>
  </div>
  </div>
</div>


<div class="shift-box">
<div class="shift-hours" >
  <h3 class="shift-title roboto-text" ng-click='pickShift(2)'>Second Shift</h3>

<div class="show-shifts" ng-show="showshifts2">
  <div class="shift-begin roboto-text">Shift Begin</div>
    <div class="shift-begin roboto-text">Shift End</div>
    <div class="shift-layout">
<div uib-timepicker class="shift-time" ng-model="shift.secondshift_begin")  show-spinners=false hour-step="hstep" minute-step="mstep" mousewheel=false show-meridian=false></div>
<div uib-timepicker class="shift-time" ng-model="shift.secondshift_end"  show-spinners=false hour-step=1 minute-step=15 mousewheel=false show-meridian=false></div>
  </div>
  </div>
</div>


<div class="shift-box">
<div class="shift-hours" >
  <h3 class="shift-title roboto-text" ng-click='pickShift(3)'>Third Shift</h3>

<div class="show-shifts" ng-show="showshifts3">
  <div class="shift-begin roboto-text">Shift Begin</div>
    <div class="shift-begin roboto-text">Shift End</div>
    <div class="shift-layout">
<div uib-timepicker class="shift-time" ng-model="shift.thirdshift_begin")  show-spinners=false hour-step="hstep" minute-step="mstep" mousewheel=false show-meridian=false></div>
<div uib-timepicker class="shift-time" ng-model="shift.thirdshift_end"  show-spinners=false hour-step=1 minute-step=15 mousewheel=false show-meridian=false></div>
  </div>
  </div>
</div>
</div>


<div class="shift-box">
<div class="shift-hours" >
  <h3 class="shift-title roboto-text" ng-click='pickShift(4)'>Fourth Shift</h3>

<div class="show-shifts" ng-show="showshifts4">
  <div class="shift-begin roboto-text">Shift Begin</div>
    <div class="shift-begin roboto-text">Shift End</div>
    <div class="shift-layout">
<div uib-timepicker class="shift-time" ng-model="shift.fourthshift_begin")  show-spinners=false hour-step="hstep" minute-step="mstep" mousewheel=false show-meridian=false></div>
<div uib-timepicker class="shift-time" ng-model="shift.fourthshift_end"  show-spinners=false hour-step=1 minute-step=15 mousewheel=false show-meridian=false></div>
  </div>
  </div>
</div>
</div>

<div class="button-box">
<div class="add-hours site-button hour-button roboto-text" ng-click="getMoreHours(shift)">Add Hours</div>
<div class="btn-submit site-button hour-button roboto-text" ng-click="getTimes()">Submit</div>
<div class="btn-submit site-button hour-button roboto-text" ng-click="clear()">Clear</div>
</div>
</div>
</div>
</div>
