<div class="site-box">
<title-directive></title-directive>
<menu-directive></menu-directive>

<div class="request-change-box">

<div class="request-change-container">
<input class="request-change-name" type="text" placeholder="Enter Name Here"/>
<input class="request-change-name" type="text" placeholder="Enter Supervisor Name Here"/>

</div>
<textarea class="request-change-text" placeholder="Request change here"></textarea>


</div>
<div class="site-button request-change-button">Submit Request</div>

</div>
