<div class="update-container">
<h3 class='update-title'>Update Site</h3>
<div class="input-box">
    <input class='update-input' type="text" ng-model='siteFinder' placeholder="Find Site">
    <div class="search-icon">
        <img src="assets/img/searchglass.png" alt="searchglass" />
    </div>
</div>
<div class="update-site-box">
    <div class="update-site-results" ng-repeat='site in sites'>
    Name:{{site.name}} Address: {{site.address}}
    </div>
</div>
</div>




<menu-directive></menu-directive>
