
.site-title {
  font-size: 3rem;
  text-align: center;
  padding-top: 20px;
}

.site-name {
  padding: 20px 0 0 5px;
}

.site-input {
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 50%;
}

.last-site {
  margin-bottom: 10px;
}

.site-button {
  display: inline-block;
  width: 20px;
  margin: 0 auto 0 auto;
}

.day-input {
  margin: 50px auto 10px auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.hour-box {
  width: 50%;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.shift-time {
  display: inline-block;
  margin-left: 20px;
}

.add-hours {
  width: 20px;
  height: 20px;
  background-color: black;
}

.nav-bar {
  width: 10vw;
  position: fixed;
  float: left;
  z-index: 2;
}

.nav-list {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 10px 10px 20px 10px;
}

.general-list {
  margin: 10px 0 10px 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.schedule-title {
  margin-top: 30px;
  text-align: center;
  font-size: 3rem;
  color: blue;
}

.schedule-box {
  margin: 15px auto 0 auto;
  width: 70%;
}

.schedule-search {
  float: right;
  margin: 20px 30px 0 0;
}

.schedule-results-box {
  width: 100%;
  background-color: papayawhip;
  height: 85vh;
  padding-top: 75px;
  overflow: scroll;
}

.schedule-results-actual {
  margin: 0 auto 20px auto;
  width: 80%;
  height: 15vh;
  background-color: peru;
  color: black;
}

signin-box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.signin-title {
  text-align: center;
  font-size: 3.5rem;
  padding: 150px 0 50px 0;
}

.signin-description {
  text-align: center;
  font-size: 2rem;
  padding: 50px 0 25px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.login-input {
  width: 50%;
  margin: 20px auto 20px auto;
  font-size: 1rem;
  padding: 10px 0 10px 0;
}

.signin-button {
  width: 25%;
  margin: 25px auto 20px auto;
  padding: 10px 5px 10px 5px;
  font-size: .9rem;
}

.signup-link {
  display: inline-block;
  float: right;
  padding: 30px 30px 0 0;
}

.register-link {
  display: inline-block;
  float: right;
  padding: 30px 40px 0 0;
}

.update-container {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 28%;
}

.update-title {
  text-align: center;
  margin: 50px auto 0 auto;
  font-size: 3rem;
}

.input-box {
  width: 40%;
  margin-top: 10px;
  align-self: flex-end;
}

.update-input {
  width: 70%;
  margin: 0 10px 0 0;
  display: inline-block;
}

.search-icon {
  display: inline-block;
}

.update-site-box {
  width: 60vw;
  height: 75vh;
  background-color: papayawhip;
  margin-top: 20px;
}

.update-site-results {
  width: 60vw;
  height: 20vh;
  background-color: peru;
  margin: 20px 0 10px 0;
}
