@import url("https://fonts.googleapis.com/css?family=Raleway:400,900|Roboto+Condensed:400,400i,700");
.raleway-text {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: #4C5657;
}

.roboto-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
}

.site-box {
  width: 100vw;
  height: 100vh;
  background-color: #EBE3DF;
}

.site-button {
  text-align: center;
  width: 20%;
  padding: 20px 15px 20px 15px;
  background-color: #C1D4D6;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    width: 21%;
  }
  .title-dir {
    width: 90%;
    font-size: 4rem;
  }
  .day {
    width: 45vw;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    width: 10%;
  }
  .title-dir {
    width: 80%;
    font-size: 4rem;
  }
  .day {
    width: 17vw;
  }
}

.site-day-box {
  margin: 16vh auto 10vh auto;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.staggering-box {
  margin: 0 15vw 0 15vw;
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.site-day {
  margin: 0 0 0 0;
  padding: 20px 0 0 20px;
  font-size: 2.5rem;
  color: #098491;
}

#last-day {
  padding: 20px 0 70px 0;
}

.create-site {
  overflow: scroll;
}

.site-input {
  margin: 30px auto 10px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 50%;
}

.site-name {
  font-size: 1.5rem;
  padding: 5px 0 5px 0;
}

.site-inputs {
  padding: 10px 0 10px 0;
  border-radius: 10px;
}

.next-button-box {
  position: absolute;
  top: 25vh;
  right: -50px;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

.next-button {
  margin: 15% 0 15% 0;
}

.employee-button-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0 0 0;
}

.shift-box {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.shift-hours {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 20px 0;
}

.shift-title {
  text-align: center;
  font-size: 2rem;
}

.show-shifts {
  width: 100%;
}

.shift-begin {
  padding: 0 10vw 10px 9vw;
  display: inline-block;
}

.site-button-box {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.last-site {
  margin-bottom: 10px;
}

.shift-layout {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
}

.button-box {
  position: absolute;
  top: 10vh;
  right: 0px;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

.hour-button {
  margin: 15% 0 45px 0;
}

.main-page {
  width: 100vw;
  height: 100vh;
  background-color: #EBE3DF;
}

.welcome-user-box {
  width: 55%;
  margin: 0 auto 0 auto;
}

.welcome-user {
  padding: 10px 5px 20px 5px;
}

.you-are-assigned {
  padding: 10px 5px 20px 5px;
}

.title-dir {
  text-align: center;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 auto 0 auto;
  font-size: 3.5rem;
  font-weight: 600;
  border-bottom: 1px #55CCD9 solid;
}

.nav-bar {
  position: fixed;
  float: left;
  z-index: 2;
  background-color: #EBE3DF;
  border-right: solid 1px #55CCD9;
  border-bottom: solid 1px #55CCD9;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 8vh 3vw 2vh 2vw;
}

.general-list {
  padding: 10px 10px 15px 10px;
}

#last-item {
  padding-bottom: 60px;
}

#home-link {
  font-weight: 600;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.schedule-box {
  margin: 15px auto 0 auto;
  width: 70%;
}

.schedule-search {
  width: 40%;
  float: right;
  padding: 10px 0 10px 0;
  margin: 50px 40px 0 0;
  font-size: 1.3rem;
}

.schedule-results-box {
  width: 100%;
  height: 65vh;
  padding-top: 40px;
  overflow: scroll;
}

.schedule-results-actual {
  margin: 0 auto 20px auto;
  width: 80%;
  height: 15vh;
  background-color: #C1D4D6;
  color: black;
}

.main-box-shifts {
  margin: 0 auto 0 auto;
  width: 70%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  overflow: scroll;
}

.schedule-hours {
  width: 100%;
  font-size: 1.5rem;
}

.schedule-shift-box {
  width: 40%;
}

.shift-contract-day {
  width: 70%;
  font-size: 2.5rem;
  color: #098491;
  border-bottom: 1px solid #4C5657;
  margin-right: 5px;
}

.post-employee-shifts {
  width: 20%;
  position: absolute;
  top: 5vh;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(2, 2);
}

.signin-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #EBE3DF;
}

.signin-title {
  text-align: center;
  font-size: 4rem;
  padding: 12vh 0 5vh 0;
  font-weight: 600;
}

.signin-description {
  text-align: center;
  font-size: 2rem;
  padding: 10px 0 10vh 10px;
}

.login-total {
  margin: 0 auto 0 auto;
  height: 25vh;
}

.login-description {
  padding: 0 0 0 20px;
  font-size: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.login-input {
  width: 50vw;
  margin: 20px auto 20px auto;
  font-size: 1rem;
  padding: 10px 0 10px 0;
}

.login-button {
  padding: 5vh 15vw 5vh 15vw;
  margin: 70px auto 0 auto;
  background-color: #C1D4D6;
  font-size: 1.5rem;
  font-weight: bold;
}

.update-container {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 28%;
}

.update-title {
  text-align: center;
  margin: 50px auto 0 auto;
  font-size: 3rem;
}

.input-box {
  width: 40%;
  margin-top: 10px;
  align-self: flex-end;
}

.update-input {
  width: 70%;
  margin: 0 10px 0 0;
  display: inline-block;
}

.search-icon {
  display: inline-block;
}

.update-site-box {
  width: 60vw;
  height: 75vh;
  margin-top: 20px;
  overflow: scroll;
}

.update-site-results {
  width: 60vw;
  height: 16vh;
  padding: 10px 0 10px 0;
  font-size: 1.5rem;
  color: #098491;
  border-bottom: 1px solid #4C5657;
}
