<menu-directive></menu-directive>
<h3 class="schedule-title">List of sites</h3>
<div class="schedule-box">
  <input class="schedule-search" type="text">
    <div class="schedule-results-box" >

      <div class="schedule-results-actual" ng-show="showSites" ng-repeat="siteview in siteoverview" ng-click='scheduleShift(siteview)'>
        {{siteview.name}}
          <br>
        {{siteview.address_street}}
        <br>
        {{siteview.address_city}}
        <br>
        {{siteview.address_state}}
        <br>
        <!-- {{siteview.contract_day}} -->
        {{siteview.contract_begin | date: 'shortDate'}}
        {{siteview.contract_end | date: 'shortDate'}}
      </div>
  <ui-view></ui-view>

    </div>
</div>
