<h3 class='modal-title'>Create Site</h3>

<div class="modal-input">
  <div class="modal-name">Name</div>
<input class='modal-inputs' type="text" ng-model='site.name' placeholder="">
<div class="modal-name">Address</div>
<input class='modal-inputs' type="text" ng-model='site.address' placeholder="">
<div class="modal-name">Site Info</div>
<input class='modal-inputs' type="text" ng-model='site.site_info' placeholder="">
<div class="modal-name">Contract Begin</div>
<input class='modal-inputs' type="text" ng-model='site.contract_begin' placeholder="">
<div class="modal-name">Contract End</div>
<input class='modal-inputs' type="text" ng-model='site.contract_end' placeholder="">
<div class="modal-name">Hours</div>
<input class='modal-inputs last-modal' type="text" ng-model='site.hours' placeholder="">
</div>
<div class= 'modal-button modal-cancel'ng-click='cancel()'>
Cancel
</div>
<div class= 'modal-button modal-submit'ng-click='submit(site)'>
Submit
</div>
