<div class="modal-input">
<input class='modal-inputs' type="text" ng-model='site.name' placeholder="Name of site">
<input class='modal-inputs' type="text" ng-model='site.address' placeholder="Address of site">
<input class='modal-inputs' type="text" ng-model='site.site_info' placeholder="Site information">
<input class='modal-inputs' type="text" ng-model='site.contract_length' placeholder="Contract length">
<input class='modal-inputs' type="text" ng-model='site.hours' placeholder="Hours">
</div>
<div ng-click='submit(site)'>
Submit
</div>
<div ng-click='cancel()'>
Cancel
</div>
